<ul class="pagination">
	<li {{#unless data.records.previous}}class="disabled"{{/unless}}>
		<a href="{{paginationPreviousUrl data.route data.records.previous}}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>
	{{{paginationNavigation data.route data.records.pages data.records.currentPage data.records.totalPages}}}
	<li {{#unless data.records.next}}class="disabled"{{/unless}}>
		<a href="{{paginationNextUrl data.route data.records.next data.records.totalPages}}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
</ul>
